.grid {
    width: 80%;
    margin: 20px auto;
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 400px) {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media screen and (min-width: 400px) and (max-width: 768px) {
        width: 84%;
        box-sizing: border-box;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);

    }

    @media screen and (min-width: 1024px) {
        width: 85%;
        margin: 20 auto;
        gap: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
}