.float-button {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: fixed;
    top: auto;
    right: 30px;
    bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }

    & .float-label {
        position: relative;
        font-size: 12px;
        width: 200px;
        left: -200px;
        color: #000;
        border-radius: 10px;
        p {
            position: absolute;
            background-color: #fff;
            padding: 5px;
            box-shadow: 10px 10px 11px -2px rgba(191, 164, 164, 0.75);
            -webkit-box-shadow: 10px 10px 11px -2px rgba(191, 164, 164, 0.75);
            -moz-box-shadow: 10px 10px 11px -2px rgba(191, 164, 164, 0.75);
            transform: scale(1.1);
        }
    }
}